In [1]:
import pandas as pd

In [2]:
relative_path = "../Src/Assets/Data/Jc/"

In [6]:
def load_preprocessed_avg_file():
    # Set file path and name
    file_name = "p_avg.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        dtype={
            'genre': str,
            'moyenne': float,
        }
    )

    # Set type
    temp_df['genre'] = temp_df['genre'].fillna("n.d.")

    return temp_df

In [7]:
avg_df = load_preprocessed_avg_file()

In [11]:
type(avg_df['moyenne'][0])

numpy.float64

In [10]:
type(avg_df['genre'][0])

str

In [13]:
#avg_df

In [18]:
def load_preprocessed_distinction_file():
    # Set file path and name
    file_name = "p_distinction.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        parse_dates=['date'],
        dtype={
            'nomComplet': str,
            'distinction': str,
            'date': str,
            'annee': 'Int64'
        }
    )

    return temp_df

In [19]:
distinction_df = load_preprocessed_distinction_file()

In [20]:
distinction_df

,nomComplet,distinction,date,annee
0,Robert Marcel Lepage,Prix René-Jodoin,2018-01-01,2018
1,Jean-Marie Drot,commandeur des Arts et des Lettres,2013-01-17,2013
2,Jean-Marie Drot,concours général,1946-01-01,1946
3,François Damiens,chevalier des Arts et des Lettres,2011-01-01,2011
4,Nicole Garcia,César de la meilleure actrice dans un second rôle,1980-01-01,1980
...,...,...,...,...
2728,Spike Lee,César d'honneur,2003-01-01,2003
2729,Spike Lee,British Academy Film Award du meilleur scénari...,2019-01-01,2019
2730,Spike Lee,prix George-Polk,2006-01-01,2006
2731,Raoul Servais,Mira d'or,2013-01-01,2013
2732,Serge Rachmaninov,médaille d'or de la Royal Philharmonic Society,1932-01-01,1932

In [21]:
def load_preprocessed_bumpchart_file():
    # Set file path and name
    file_name = "p_bumpchart.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        dtype={
            'decennie': 'Int64',
            'genre': str,
            'compte': 'Int64',
            'rang': 'Int64',
        }
    )

    # Set type
    temp_df['genre'] = temp_df['genre'].fillna("n.d.")

    return temp_df

In [22]:
bumpchart_df = load_preprocessed_bumpchart_file()

In [23]:
bumpchart_df

     decennie         genre  compte  rang
0        1910          n.d.     542     1
1        1910     Animation      33     2
2        1910  Documentaire      23     3
3        1910        Autres       6     4
4        1910            Sf       4     5
..        ...           ...     ...   ...
140      2020    Historique      11     8
141      2020         Drame       9     9
142      2020        Action       7    10
143      2020      Aventure       6    11
144      2020       Musical       3    12

[145 rows x 4 columns]

In [24]:
def load_preprocessed_h_barchart_file():
    # Set file path and name
    file_name = "p_h_barchart.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        dtype={
            'nomComplet': str,
            'genre': str,
            'nombreDeFilms': 'Int64',
        }
    )

    # Set type
    temp_df['nomComplet'] = temp_df['nomComplet'].fillna("n.d.")
    temp_df['genre'] = temp_df['genre'].fillna("n.d.")

    return temp_df

In [25]:
h_barchart_df = load_preprocessed_h_barchart_file()

In [26]:
h_barchart_df

               nomComplet genre  nombreDeFilms
0                    n.d.  n.d.             70
1           A. cavalcanti  n.d.              1
2               A. dauman  n.d.              1
3              A. duchtik  n.d.              2
4        A. e., jr. bruch  n.d.              1
...                   ...   ...            ...
98912  Étienne f. laroche    Sf              0
98913      Étienne hansez    Sf              0
98914      Étienne samson    Sf              0
98915  Évelyne saint-onge    Sf              0
98916    Öyvind fahlström    Sf              0

[98917 rows x 3 columns]

In [29]:
def load_preprocessed_sunburst_file():
    # Set file path and name
    file_name = "p_sunburst.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        dtype={
            'titreOriginal': str,
            'genre': str,
            'sousGenre0': str,
            'sousGenre1': str,
        }
    )

    # Set type
    temp_df['titreOriginal'] = temp_df['titreOriginal'].fillna("n.d.")
    temp_df['genre'] = temp_df['genre'].fillna("n.d.")
    temp_df['sousGenre0'] = temp_df['sousGenre0'].fillna("n.d.")
    temp_df['sousGenre1'] = temp_df['sousGenre1'].fillna("n.d.")

    return temp_df

In [30]:
sunburst_df = load_preprocessed_sunburst_file()

In [31]:
sunburst_df

                    titreOriginal   genre    sousGenre0    sousGenre1
0          Hannah And Her Sisters    n.d.          n.d.          n.d.
1             Guilty By Suspicion   CRIME      Thriller          n.d.
2             Guilty By Suspicion    n.d.          n.d.          n.d.
3                 Tacones Lejanos    n.d.          n.d.          n.d.
4              Diary Of A Hit Man    n.d.          n.d.          n.d.
...                           ...     ...           ...           ...
121659          Tables And Chairs  AUTRES           Art  Expérimental
121660  Three Works For Mind/Body  AUTRES  Indépendants  Indépendants
121661  Three Works For Mind/Body  AUTRES           Art  Expérimental
121662  Three Pieces For Circuits  AUTRES  Indépendants  Indépendants
121663  Three Pieces For Circuits  AUTRES           Art  Expérimental

[121664 rows x 4 columns]

In [32]:
def load_preprocessed_table_file():
    # Set file path and name
    file_name = "p_table.csv"
    full_path = relative_path + file_name 

    # Read .csv
    temp_df = pd.read_csv(
        filepath_or_buffer=full_path,
        sep=',',
        header=0,
        dtype={
            'titreOriginal': str,
            'anneeSortie': 'Int64',
            'langue': str,
            'genre': str,
        }
    )

    # Set type
    temp_df['titreOriginal'] = temp_df['titreOriginal'].fillna("n.d.")
    temp_df['langue'] = temp_df['langue'].fillna("n.d.")
    temp_df['genre'] = temp_df['genre'].fillna("n.d.")

    return temp_df

In [33]:
table_df = load_preprocessed_table_file()

In [34]:
table_df

                   titreOriginal  anneeSortie    langue   genre
0         Hannah And Her Sisters         1986      n.d.    n.d.
1            Guilty By Suspicion         1991   Anglais   Crime
2                Tacones Lejanos         1991      n.d.    n.d.
3             Diary Of A Hit Man         1991      n.d.    n.d.
4                   Stepping Out         1991      n.d.    n.d.
...                          ...          ...       ...     ...
74905                     Tango!         1933  Espagnol    n.d.
74906              Birth'S Child         1973   Anglais  Autres
74907          Tables And Chairs         1974   Anglais  Autres
74908  Three Works For Mind/Body         1975      n.d.  Autres
74909  Three Pieces For Circuits         1974      n.d.  Autres

[74910 rows x 4 columns]